.main-circle {
    border: #34648e 2px solid;
    border-radius: 100%;
    margin: 10px auto;
    position: relative;
    .wraper{
        transform: translate(0px, 0px);
        transition: 0.3s;
        transition-timing-function: ease;
        .scary-circle{
            background: #0294bf;
            border-radius: 100%;
            position: absolute;
        }
    }
    
}