

body{
    background: #ebebeb;
    font-family: sans-serif;
}

.content{
    width: 510px;
    margin: 10px auto;
    background: #f8f8f8;
    padding: 15px;
    color: #787878;
    .license-item{
        
        label{
            cursor: pointer;
            .license-item-row{
                padding: 10px 10px 10px 23px;
                display: flex;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0);
                transition-duration: 0.1s;
                transition-timing-function: ease-in;
            }
            input[type=radio]{
                display: none;
                &:checked + .license-item-row {
                    background: #ebf4f7;
                    border-color: #b8d7e2;
                    .license-title .license-dot {
                        border-color: #34648e;
                        transition-duration: 0.1s;
                        transition-timing-function: ease-in;

                        &::after {
                            background: #0294bf;
                        }
                    }
                }
            }
            .license-title{
                font-family: "TypoPRO Bebas Neue";
                font-weight: bold;
                font-size: 23px;
                flex: 1 0 0;
                display: flex;
                align-items: center;
                .license-dot{
                    display: inline-block;
                    border-radius: 100%;
                    border: 5px solid; 
                    border-color: #dadada;
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    &::after{
                        content: "";
                        display: block;
                        background: rgba(0,0,0,0);
                        border-radius: 100%;
                        width: 10px;
                        height: 10px;
                        transition-duration: 0.1s;
                        transition-timing-function: ease-in;
                    }
                    padding: 5px;
                }
            }
            .license-price{
                flex: 1 0 0;
                text-align: right;
                font-size: 14px;
            }
        }
    }

    .selector-block{
        text-align: center;
        color: #111111;
        border: solid #cccccc;
        border-width: 1px 0px;
        padding: 30px 0px;
        margin-top: 10px;

        .license-select{
            border: 1px solid #8bade4;
            padding: 5px;
            
        }
    }

    
    .buy-block{
        .total{
            font-family: "TypoPRO Bebas Neue";
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin: 30px 0px 10px;
            .price{
               color: #3388a8;
               sup{
                   font-size: 60%;
                   top: -0.4em;
               }
            }
        }
        .button-block{
            text-align: center;
            a.button{
                display: inline-block;
                cursor: pointer;
                background: #33a845;
                padding: 20px 60px;
                color: white;
                font-family: "TypoPRO Bebas Neue";
                font-size: 20px;
                letter-spacing: 2px;
                border-radius: 110px;
                text-decoration: none;
                &:active{
                    box-shadow:inset #11111154 0px 9px 20px;
                }
                &:focus{
                    outline: none;
                }
            }
        }
        .selected-license-block {
            text-align: center;
            color: #3388a8;
            font-size: 20px;
            padding: 40px 0px;
        }
    }
    
}


/* TypoPRO Bebas Neue */