<template>
  <div id="app">
    <div class="content">
      <div
        class="license-item"
        v-for="(license, index) in licenses"
        :key="`license-${index}`"
      >
        <label>
          <input
            type="radio"
            name="license"
            :value="index"
            v-model="selectLicense"
          />
          <div class="license-item-row">
            <div class="license-title">
              <span class="license-dot"></span>
              <span v-html="license.name"></span>
            </div>
            <div class="license-price">
              <span v-html="license.price"></span>$ per license
            </div>
          </div>
        </label>
      </div>

      <div class="selector-block">
        Number of licenses
        <select class="license-select" v-model="count">
          <option v-for="value in 30">{{ value }}</option>
        </select>
      </div>

      <div class="buy-block">
        <div class="total">
          total:<span class="price">
            ${{ total }}
            <sup>us</sup>
          </span>
        </div>
        <div class="button-block">
          <a class="button" :href="buyUrl">BUY NOW</a>
        </div>
        <div class="selected-license-block">
          Selected plan: #{{ selectLicense + 1 }}
        </div>
      </div>

      <circle-component />
    </div>
  </div>
</template>

<script>
import circleComponent from "@/circle";
export default {
  name: "app",
  components: {
    circleComponent
  },
  data() {
    return {
      licenses: [],
      selectLicense: 0,
      count: 1
    };
  },
  mounted() {
    this.loadData();
  },
  computed: {
    total() {
      if (this.licenses.length == 0) return 0;
      return this.count * this.licenses[this.selectLicense].price;
    },
    buyUrl() {
      return `/buy?license=${this.selectLicense}&count=${this.count}`;
    }
  },
  methods: {
    loadData() {
      const axios = require("axios");
      axios.get("/license.json").then(response => {
        this.licenses = response.data;
      });
    }
  }
};
</script>
