<template>
  <div class="main-circle" :style="mainSizes" @mousemove="moveCursor">
    <div :style="scaryPosition" @mousemove.stop class="wraper">
      <div class="scary-circle" :style="correctStyle"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    circleSize: {
      type: Number,
      default: 400
    },
    smallCircleSize: {
      type: Number,
      default: 50
    },
    scaryDistance: {
      type: Number,
      default: 50
    }
  },
  data() {
    return {
      position: {
        x: 0,
        y: 0
      }
    };
  },
  mounted() {
    let midle = this.circleSize / 2;
    this.position.x = midle;
    this.position.y = midle;
  },
  computed: {
    scaryPosition() {
      return {
        transform: `translate(${this.position.x}px, ${this.position.y}px) `
      };
    },
    correctStyle() {
      return {
        height: this.smallCircleSize + "px",
        width: this.smallCircleSize + "px",
        transform: `translate(-${this.smallCircleSize / 2}px, -${this
          .smallCircleSize / 2}px) `
      };
    },
    mainSizes() {
      return {
        height: this.circleSize + "px",
        width: this.circleSize + "px"
      };
    }
  },
  methods: {
    moveCursor(event) {
      let x = this.position.x - event.offsetX;
      let y = this.position.y - event.offsetY;

      let distance = Math.sqrt(x * x + y * y);
      if (this.scaryDistance > distance) {
        let rad = Math.atan2(y, x);
        this.move(rad);
      }
    },
    radians(degrees) {
      return (degrees * Math.PI) / 180;
    },
    move(rad) {
      let unit = 100;
      let x = this.position.x;
      let y = this.position.y;

      x += unit * Math.sin(rad);
      y += unit * Math.cos(rad);

      let half = this.circleSize / 2;
      let shalf = this.smallCircleSize / 2;

      let dx = half - x;
      let dy = half - y;
      let distance = Math.sqrt(dx * dx + dy * dy);
      if (distance + shalf > half) {
        let rad = -Math.atan2(dy, dx);
        dx = half + (half - shalf - unit) * Math.sin(rad);
        dy = half + (half - shalf - unit) * Math.cos(rad);
        this.position.x = dy;
        this.position.y = dx;
      } else {
        this.position.x = y;
        this.position.y = x;
      }
    },
    checkBorder(x, y) {}
  }
};
</script>

<style></style>
